.home-background{
    background-color: whitesmoke;
}

.fct{
    width:25%;
    height:3%;
    padding-left: 20px;
}

.block-icon{
    width: 100px;
    height: 100px;
    color: #0069d9;
}

.header{
    position: relative;
    top: 8px;
    font-size: 25px;
    padding: 15px;
    padding-left: 50px;
    font-family: Sans-serif;
    color: dimgrey;
}

.top-right{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 25px;
    padding: 10px;
    font-family: Sans-serif;
    color: dimgrey;
    display: inline-block;
}

.info-title{
    top: 8px;
    right: 14px;
    font-size: 15px;
    padding: 10px;
    padding-left: 2%;
    font-family: Sans-serif;
    color: black;
}

.info-data{
    top: 4px;
    right: 24px;
    font-size: 14px;
    padding-left: 5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: Sans-serif;
    color: dimgrey;
}

.right-button{
    background-color: White;
    color: Black;
    border: 2px solid #555555;
    position: absolute;
    font-size: 15px;
    padding: 3px;
    font-family: Sans-serif;
    border-radius: 3px;
    margin-left: 5%;
    right: 10%;
}

.right-button:hover {
    background-color: #CCC;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-top: 10%;
    width: 10%;
}


.caption {
    display: block;
}

.image-block {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 40%;
    padding: 50px 20px 20px 20px;
}

.image-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3%;
    height: 40%;

}

/*----------------------------Reviews list Styles----------------------------*/

.accepted-bg{
    background-color: #d1edd9;
    opacity: 0.8;
    border-radius: 9px;
}

.accepted-bg:hover{
    background-color: #d1edd9;
    opacity: 1.0;
}


.normal-bg{
    background-color: #f2f2f2;
    opacity: 0.8;
    border-radius: 9px;
}

.normal-bg:hover{
    background-color: #f2f2f2;
    opacity: 1.0;
}

.rejected-bg {
    background-color: #ebc3c0;
    opacity: 0.8;
    border-radius: 9px;
}

.rejected-bg:hover{
    background-color: #ebc3c0;
    opacity: 1.0;
}

.hr-style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/*----------------------------Login Form Styles------------------------------*/
.login-form-button {
    margin-left: 15px;
}

body {
    font: normal medium/1.4 sans-serif;
}

.my-table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

.card-card-5 {
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 10% 20% 10% 20%;
}

.card-heading {
    padding: 20px 0;
    background: #1a1a1a;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-control{
    background: #e5e5e5;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.form .div .label {
    content:"*";color:red;
}

.my-card-5 .my-card-body {
    padding: 52px 85px;
    padding-bottom: 73px;
}

@media (max-width: 767px) {
    .my-card-5 .my-card-body {
        padding: 40px 30px;
        padding-bottom: 50px;
    }
}

/*-----------------------GRANT APPLICATION DETAILS------------------------ */

.form-fields{
    background-color: #fcfbf0;
    border-radius: 9px;
}


/*-----------------------Link Styles------------------------ */
.no_style {
    color: inherit;
    text-decoration: none;
}

.no_style:hover {
    text-decoration: none;
}

/*-----------------------BreadCome Styles------------------------ */
.breadcrumb-white-bg{
    background-color: white;
}

.breadcrumb {
    background-color: white !important;
    border-bottom: 2px solid #282c34 !important;
    padding: .75rem 1rem .75rem 0rem !important;
}

a:hover{
    text-decoration: none !important;
}